{{#if tweets}}
  {{#each tweets}}
    <article class="ui compact segment tweet">

      <h5 class="ui dividing header">
        <strong>{{user.nickname}}</strong>
        <div class="sub header">
          {{formatDate creation}}
        </div>
      </h5>

      <a class="ui top right attached label tweet-remove" data-id="{{_id}}">
        <i class="orange remove icon"></i>
      </a>

      {{message}}

    </article>
  {{/each}}
  <script type="text/javascript">
    $(".tweet a.tweet-remove").click(function () {
      $(this).parents('.tweet').fadeOut('slow');
      const itemId = $(this).data('id');
      $.post('/removeTweet', {
        id: itemId
      });
    });
  </script>
{{else}}
  {{> no-content }}
{{/if}}